<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<!-- 导入配置文件 -->
	<bean id="jdbcConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- WebApp 默认数据连接及配置 -->
	<import resource="classpath:zeus-core.xml" />
	<!-- ORDER LIBRARY SERVICE AND JNDI DATASOURCE -->
	<import resource="classpath:ordm-lib.xml" />
	<import resource="classpath:ordm-task.xml" />
	
	<import resource="classpath:core-schedule.xml" />
	<import resource="classpath:core-auth.xml" />
	<import resource="classpath:spring-mvc.xml" />
	<!-- 短信配置 -->
	<import resource="classpath:core/core-sms.xml" />
</beans>