<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[DP] [%p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{0}:%L-%m%n
			</pattern>
		</encoder>
	</appender>
	<root level="error">
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name="org.springframework" level="ERROR" />
</configuration>
